/* Genral stylings */

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 2rem;
}


/* Header */
nav {
    padding-inline: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 78px auto 0px;
}


.logo {
    max-width: 18.5%;
}

.try-it-free {
    padding: 9px 31px;
    border-radius: 1.875rem;
    color: #FF52C1;
    border: 0.5px solid #FF52C1;
    background-color: white;
    
}


/* Hero */
.hero {
    width: 71%;
    margin: 200px auto 100px;
    text-align: center;
}

.hero h1 {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 26px;
}

.hero p {
    width: 60%;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 400;
}

.get-started {
    padding: 25px 100px;
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
    background-color: #FF52C1;
    border-radius: 50px;
    border: thin;
    margin: 50px auto 120px;
    box-shadow: 0 6px 13px #adb9bd ;
}

.mockups {
    width: 100%;
}


/* Numbers */

.numbers {
    width: 61%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers h2 {
    font-size: 6rem;
    font-weight: 700;
}

.numbers p {
    font-size: 1.5rem;
    text-align: center;
    color: #808E9A;
}

.box img { 
    position: relative;
    left: 0;
}


/* Grow together section */

.grow-together-container {
    padding-block: 10%;
    width: 100%;
    position: relative;
}


 .section-top-one {    /*the top section of the background image for the grow together section */
    background-image: url('images/bg-section-top-desktop-1.svg');
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-bottom-one { /*the bottom section of the background image for the grow together section */
    background-image: url('images/bg-section-bottom-desktop-1.svg');
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.grow-together {
    padding: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color:  hsl(207, 100%, 98%);
}

.grow-together .illustration {
    width: 33%;
}

.grow-together .text {
    width: 33%;
}

.text h3 {
    font-size: 2.5rem;
    margin-bottom: 26px;
}



/* flowing conversation section */
.flowing-conversation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5%;
}


.flowing-conversation img {
    width: 40%;

}

.flowing-conversation .text {
    width: 40%;
}


/* your users section */
.your-users-container {
    padding-block: 10%;
    width: 100%;
    position: relative;
}

.section-top-two {
    background-image: url('images/bg-section-top-desktop-2.svg');
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-bottom-two {
    background-image: url('images/bg-section-bottom-desktop-2.svg');
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.your-users {
    padding: 50px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: hsl(207, 100%, 98%);
}

.your-users .illustration {
    width: 40%;
}

.your-users .text {
    width: 34%;
}


/* ready to build your community section */
.last-main-section {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.last-main-section h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.75rem;
}


/* footer section */

footer {
    color: white;
}

footer p {
    margin-bottom: 26px;
    font-size: 0.875rem;
}

.nl {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

#logo {
    filter: brightness(0%) invert(1);
    margin-bottom: 26px;
}

.footer-background-image {
    background-image: url('images/bg-footer-top-desktop.svg');
    height: 200px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% bottom;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding: 100px 15% 25px 5%;
    background-color:  hsl(192, 100%, 9%);
}

.lorem-ipsum {
    font-size: 0.875rem;
}

 .socials {  /* social media icons */
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-block: 50px;
}

.socials i {
    margin-right: 20px;
}


.phone, .mail {
    font-size: 1rem;
}

.phone img, .mail img {
    margin-right: 10px;
}

.contact {
    width: 30%;
}

.newsletter {
    width: 36%;
}

.news {
    font-size: 0.875rem;
}

form {
    width: 100%;
    position: relative;
}

input {
    border-radius: 6px;
    border: 1px solid black;
    height: 40px;
    width: 80%;
    margin-right: 40px;
    padding-inline: 20px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input:valid {
    border: 1px solid black;
}


.subscribe {
    font-size: 1rem;
    height: 40px;
    padding: 1% 6%;
    border: thin;
    border-radius: 6px;
    background-color: #FF52C1;
    color: white;
    position: absolute;
    right: -30%;
    bottom: 2px;
}


/* error message for invalid for input */
.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
}

.red-border {
    border-color: red;
}



/* hovers */

button:hover {
    background-color: #FF8ED7;
    cursor: pointer;
}

.try-it-free:hover {
    color:#FF8ED7;
    background-color: white;
    border: 0.5px solid #FF8ED7;
}

.fa-twitter-square:hover {
    color: #00C7FA;
    cursor: pointer;
}


/* coded by me */
.attribution { 
    font-size: 0.7rem;  

}

.attribution a {
     color: #FF52C1; 
     text-decoration: none;
    
}

@media only screen and (max-width: 1000px) {
    .numbers h2 {
        font-size: 4.5rem;
        font-weight: 700;
    }

    .numbers p {
        font-size: 1rem;
    }

    form {
        position: static;
    }

    .subscribe {
        position: inherit;
        margin-left: 65%;
        margin-top: 30px;  
    }



    input {
        width: 90%;
    }

    .contact {
        width: 50%;
    }


}



@media only screen and (max-width: 700px) {

    .logo {
        min-width: 30%;
    }

    .try-it-free {
        padding: 7px 25px;
    }

    .hero {
        width: 80%;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.875rem;
        width: 100%;
        letter-spacing: 1.5px;
        line-height: 20px;
    }

    .get-started {
        padding: 12px 40px;
        font-size: 0.75rem;
        color: white;
        background-color: #FF52C1;
        border-radius: 50px;
        border: thin;
        margin: 100px auto;
        box-shadow: 0 6px 13px #adb9bd ;
    }

    .numbers {
        width: 43%;
        flex-direction: column;
        height: 400px;
    }

    .numbers h2 {
        font-size: 3.81rem;
        font-weight: 700;
        margin: 0;
    }

    .numbers p {
        font-size: 0.95rem;
        margin: 0;
    }

    .box img {
        width: 40px;
    }

    .grow-together-container {
        padding-block: 10%;
    }

    .section-top-one {    /*the top section of the background image for the grow together section */
        background-image: url('images/bg-section-top-mobile-1.svg');
        height: 150px;
        background-size: cover;
    }
    
    .section-bottom-one { /*the bottom section of the background image for the grow together section */
        background-image: url('images/bg-section-bottom-mobile-1.svg');
    }


    .grow-together {
        flex-direction: column-reverse;
        padding: 100px 2%;

    }


    .grow-together .illustration {
        width: 75%;
        margin: 0 auto 50px;
    }


    .grow-together .text {
        text-align: center;
        width: 100%;
    }

    .text h3 {
        font-size: 1.25rem;
    }

    .text p {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .flowing-conversation {
        flex-direction: column;
    }

    .flowing-conversation .illustration {
        width: 75%;
        margin: 0 auto 50px;
    }

    .flowing-conversation .text {
        text-align: center;
        width: 100%;
    }

    .your-users-container {
        padding-block: 10%;
        margin-top: 0;
    }

    .section-top-two {    /*the top section of the background image for the grow together section */
        background-image: url('images/bg-section-top-mobile-2.svg');
    }
    
    .section-bottom-two { /*the bottom section of the background image for the grow together section */
        background-image: url('images/bg-section-bottom-mobile-2.svg');
    }


    .your-users {
        flex-direction: column-reverse;
        padding-block: 100px;
    }


    .your-users .illustration {
        width: 75%;
        margin: 0 auto 50px;
    }


    .your-users .text {
        text-align: center;
        width: 100%;
    }

    .last-main-section {
        width: 90%;
        text-align: center;
        margin: 0 auto 50px;
    }
    
    .last-main-section h3 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.25rem;
    }

    .footer-container {
        flex-direction: column-reverse;
        padding: 100px 7% 10px 7%;
    }

    .footer-background-image {
        background-image: url('images/bg-footer-top-mobile.svg');
    }

    .newsletter {
        width: 100%;
    }

    form {
        position: static;
    }

    .subscribe {
        position: inherit;
        margin-left: 62%;
        margin-top: 30px;
    }

    input {
        width: 85%;
    }

    .contact {
        width: 100%;
        margin-top: 50px;
    }
   
    .phone, .mail {
        font-size: 0.875rem;
    }

    .socials {
        width: 30%;
    }

    .socials i {
        font-size: 1.5rem;
    }

    .attribution {
        font-size: 0.5rem;
    }
}